body{
margin:0;
background:white;
color:black;
font-family:'Inter',sans-serif;
}

/* TITLE */

.title{
font-family:'Orbitron';
font-size:60px;
margin:60px 80px;
}

/* MAIN LAYOUT */

.game-layout{
display:flex;
gap:60px;
padding:40px 80px;
}

/* IMAGE COLUMN */

.image-column{
display:flex;
flex-direction:column;
gap:30px;
}

.image-column img{
width:300px;
border:3px solid #00ffff;
box-shadow:0 0 15px #00ffff;
border-radius:6px;
}

/* TEXT SIDE */

.game-info{
max-width:700px;
font-size:18px;
line-height:1.7;
}

.game-info p{
margin-bottom:20px;
}

.game-info strong{
font-family:'Orbitron';
}
