body{
margin:0;
background:#0a0a0a;
color:white;
font-family:'Orbitron',sans-serif;
}

/* NAV */

nav{
display:flex;
justify-content:space-between;
padding:20px 60px;
background:#000;
border-bottom:1px solid #00f7ff;
}

/* HERO */

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:radial-gradient(circle,#111,#000);
}

.hero h1{
font-size:60px;
color:#00f7ff;
text-shadow:0 0 15px #00f7ff;
}

.hero p{
font-size:20px;
opacity:0.8;
}

button{
margin-top:20px;
padding:12px 25px;
background:#ff00ff;
border:none;
color:white;
cursor:pointer;
border-radius:6px;
}

button:hover{
box-shadow:0 0 15px #ff00ff;
}

/* SECTIONS */

section{
padding:80px 100px;
text-align:center;
}

/* PROJECT CARDS */

.card-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
background:#111;
padding:30px;
width:250px;
border-radius:10px;
border:1px solid #00f7ff;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px #00f7ff;
}

h2{
color:#ff00ff;
}

/* FOOTER */

footer{
text-align:center;
padding:20px;
background:#000;
border-top:1px solid #00f7ff;
}
