body{
margin:0;
background:#050505;
color:white;
font-family:'Inter',sans-serif;
}


/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
border-bottom:2px solid #00ffff;
box-shadow:0 0 10px #00ffff;
font-family:'Orbitron';
}

.navbar ul{
display:flex;
gap:40px;
list-style:none;
}

.logo{
letter-spacing:2px;
}


/* MAIN LAYOUT */

.game-layout{
display:flex;
gap:80px;
padding:60px;
border:2px solid #00ffff;
box-shadow:0 0 20px #00ffff;
margin:40px;
}


/* IMAGE COLUMN */

.image-column{
display:flex;
flex-direction:column;
gap:40px;
}

.image-column img{
width:260px;
border:2px solid #ff00ff;
box-shadow:0 0 15px #ff00ff;
border-radius:6px;
}


/* GAME INFO */

.game-info{
max-width:600px;
}

.game-info h1{
font-family:'Orbitron';
color:#00ffff;
margin-bottom:30px;
}

.game-info h3{
font-family:'Orbitron';
color:#ff00ff;
margin-top:20px;
}

.game-info p{
line-height:1.7;
opacity:0.9;
}
